<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="author" content="Jean Carlos Piguave Alvarado - piguavejc@gmail.com" />
        <link rel="shortcut icon" href="../assets/img/devchallenges.png" type="image/png" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
        <title>Recipe Page Master</title>
    </head>

    <body>
        <main class="home">

            <%- include("./03.diseños/bienvenido.ejs") %>

            <div class="contenido">
                <%- include("./03.diseños/estadistica.ejs") %>
                <%- include("./03.diseños/informacion.ejs") %> 
            </div>

           
            <%- include("./02.componentes/referencia.ejs") %> 
            <%- include("./02.componentes/pie-pagina.ejs") %> 
            
        </main>
    </body>
</html>
