
<div class="izquierda">
    <%- include("./presentacion.ejs") %>
    <%- include("./experiencia.ejs") %>
    <%- include("./hobbies.ejs") %>
    <%- include("./tecnologias.ejs") %>
    <%- include("./blog.ejs")  %> 
</div>