<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="author" content="Jean Carlos Piguave Alvarado - piguavejc@gmail.com" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
        <link rel="shortcut icon" href="../assets/img/devchallenges.png" type="image/png" />

        <title>Interior Consultant</title>
    </head>
    <body class="fon-secund-oscuro">
        <main class="home">
            
            <%- include("./03.dise単os/barra.ejs") %> 
            <%- include("./03.dise単os/contenido.ejs") %> 
            <%- include("./03.dise単os/informacion.ejs") %> 
            <%- include("./03.dise単os/navegacion-movil.ejs") %> 
            <%- include("./02.componentes/pie-pagina.ejs") %> 

        </main>
    </body>
</html>
